@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url("/assets/SourceSansPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro Semi-Bold';
  src: url("/assets/SourceSansPro-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url("/assets/WhyteInktrap-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url("/assets/WhyteInktrap-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url("/assets/WhyteInktrap-Medium.ttf");
  font-weight: 500;
}

.how-to-container .how-to-switcher-container, .how-to-switcher .switch-off, .ar-section, .fun-way-section, .video-section, .footer, .footer .footer-btns-container, .footer .download-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 72px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160px;
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.nav .nav-brand {
  cursor: pointer;
}

.nav a {
  font-size: 16px;
  margin-right: 40px;
  font-family: "Source Sans Pro Semi-Bold";
}

.nav-grey-link {
  color: #000000;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.nav-grey-link:first-child {
  margin-left: 0;
}

.nav-grey-link:last-child {
  margin-right: 0;
}

.nav-grey-link:hover {
  opacity: 1;
}

.nav-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-download h3 {
  margin-right: 16px;
  font-weight: 500;
  color: #000000;
  font-family: "Source Sans Pro Semi-Bold";
}

.nav-download .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  border: solid 1px #000000;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-download .nav-icons .download-svg-path-nav {
  fill: #000000;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.nav-download .nav-icons:hover {
  background-color: #000000;
}

.nav-download .nav-icons:hover .download-svg-path-nav {
  fill: #ffffff;
}

.nav-download #nav-apple {
  margin-right: 16px;
}

.intro {
  position: relative;
  margin: 232px 240px 0 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-text-wrapper {
  width: 960px;
  height: 160px;
}

.intro-text {
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  font-family: 'WhyteInktrap';
}

.intro-text .intro-bold {
  font-weight: 500;
}

.intro-text .intro-italic {
  font-weight: 500;
  font-style: italic;
}

.intro-text .fun-img-container {
  width: 132px;
  height: 60px;
  display: inline-block;
  position: relative;
}

.intro-text .fun-img-container img {
  position: absolute;
  top: 5px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 132px;
  height: 80px;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.intro-mock {
  width: 100%;
  height: 100%;
  margin: 18px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-mock-img {
  width: 338px;
  height: 622px;
}

.intro-mock-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 380px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
}

.how-to-bg-section {
  background-color: #f6f6f6;
  max-width: 100% !important;
  height: 765px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-to-container {
  width: 1142px;
  height: 646px;
  border-radius: 28px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-to-container .how-to-img {
  width: 676px;
  height: 215px;
  -o-object-fit: cover;
     object-fit: cover;
}

.how-to-container .how-to-text {
  font-size: 16px;
  font-family: "Source Sans Pro Semi-Bold";
  margin: 40px 0 80px;
}

.how-to-container .how-to-switcher-container {
  width: 360px;
  height: 128px;
  border: 1px solid #e9ecf0;
  border-radius: 16px;
}

.how-to-switcher {
  width: 300px;
  height: 40px;
  background-color: #f6f6f6;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.how-to-switcher p {
  font-family: "Source Sans Pro Regular";
}

.how-to-switcher .switch {
  padding: 12px 20px;
  width: 100px;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.how-to-switcher .switch p {
  font-family: "Source Sans Pro Semi-Bold";
}

.how-to-switcher .switch-off {
  cursor: pointer;
  padding: 10px 20px;
  width: 100px;
  background-color: transparent;
  border-radius: 8px;
}

.how-to-switcher .switch-off p {
  opacity: 0.5;
  font-family: "Source Sans Pro Semi-Bold";
}

.ar-section {
  margin-bottom: 210px;
  padding: 0 26px;
}

.ar-container {
  width: 100%;
  max-width: 1390px;
  height: 680px;
  background: url("../assets/images/ar-img.png") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ar-container-mobile {
  display: none;
}

.ar-text {
  margin-top: 4px;
  justify-self: flex-start;
  font-family: "Source Sans Pro Regular";
  font-size: 24px;
  color: #ffffff;
}

.ar-mock-img {
  width: 300px;
  height: 600px;
  margin-top: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}

.fun-way-section {
  width: 100%;
  height: 500px;
  margin-bottom: 140px;
  position: relative;
}

.fun-way-section .grey-rectangle {
  width: 272px;
  height: 100%;
  background-color: #e9ecf0;
  border-radius: 28px;
}

.fun-way-section .fun-way-img {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-section {
  height: 810px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.video-section .video {
  -ms-grid-column-align: center;
      justify-self: center;
}

.video-section .video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}

.video-section .video-text {
  font-size: 72px;
  font-family: "WhyteInktrap";
}

.video-section .video-description {
  font-size: 24px;
  font-family: "Source Sans Pro Regular";
  opacity: 0.8;
  margin-top: 8px;
}

.video-section .video-text-container {
  position: absolute;
  bottom: 0;
  margin: 0 32px 90px 32px;
}

.join-section {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.join-section .join-img {
  width: 690px;
  height: 1376px;
  margin-top: 135px;
  background: url(/assets/images/donwload-mock.png) center no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.join-section .join-description {
  font-size: 16px;
  color: #e9ecf0;
  opacity: 0.5;
  font-family: "Source Sans Pro Regular";
  margin-top: 10px;
  z-index: 5;
}

.join-section .join-h1 {
  font-size: 72px;
  font-family: "WhyteInktrap";
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 26px;
  z-index: 5;
}

.join-section .join-gradient {
  width: 100%;
  height: 273px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  position: absolute;
  bottom: -1px;
  z-index: 1;
}

.join-section .carpool-img-container {
  position: absolute;
  top: 400px;
  left: 78px;
}

.footer {
  height: 366px;
  background-color: #000000;
  border-bottom: 16px solid #e85500;
}

.footer .footer-btns-container {
  width: 500px;
  height: 64px;
}

.footer .download-footer {
  outline: none;
  cursor: pointer;
  background-color: #000000;
  border: 1px solid #5b5b5b;
  color: #ffffff;
  font-family: "Source Sans Pro Regular";
  font-size: 16px;
  padding: 16px;
  border-radius: 8px;
  width: 240px;
  height: 64px;
}

.footer .download-footer:first-child {
  margin-right: 22px;
}

.footer .download-footer-svgs {
  margin-right: 10px;
}

.footer #android-download-footer {
  margin-right: 6px;
}

@media all and (min-width: 375px) and (max-width: 768px) {
  .header {
    height: auto;
  }
  .nav {
    padding: 24px;
  }
  .nav-links {
    display: none;
  }
  .nav-download h3 {
    display: none;
  }
  .intro {
    margin: 192px 0 0;
    padding: 0 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .intro-text {
    font-size: 32px;
    line-height: 40px;
  }
  .intro-text .fun-img-container {
    width: 58px;
    height: 34px;
  }
  .intro-text .fun-img-container img {
    width: 54px;
    height: 100%;
  }
  .intro-mock-gradient {
    height: 230px;
  }
  .intro-mock {
    margin: 20px 0 2px 0;
  }
  .intro-mock-img {
    width: 188px;
    height: 374px;
  }
  .intro-text-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro-text-wrapper .intro-text {
    width: 100%;
  }
  .how-to-bg-section {
    padding: 16px;
    height: auto;
  }
  .how-to-container {
    width: 100%;
    height: 635px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .how-to-container .how-to-switcher-container {
    border: none;
    width: 100%;
    height: auto;
  }
  .how-to-container .how-to-switcher {
    height: 64px;
    padding: 0;
    margin: 24px 24px 0 24px;
  }
  .how-to-container .switch {
    margin: 8px 0 8px 8px;
  }
  .how-to-container .switch-off {
    margin: 8px 0 8px 8px;
  }
  .how-to-container .how-to-img {
    height: 110px;
    width: 100%;
  }
  .how-to-container .how-to-text {
    margin: 88px 0 48px;
  }
  .ar-section {
    padding: 0;
    margin-bottom: 0;
  }
  .ar-container {
    display: none;
  }
  .ar-container-mobile {
    width: 100%;
    height: 680px;
    background: url("../assets/images/ar-img-mobile.png") no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ar-mock-img {
    margin-top: 150px;
    width: 280px;
    height: 560px;
  }
  .fun-way-section .grey-rectangle {
    width: 216px;
    height: 400px;
  }
  .fun-way-section {
    height: auto;
    margin: 150px 0 80px;
  }
  .fun-way-img {
    padding: 0 6px;
    width: 364px;
    height: auto;
  }
  .video-section {
    height: 480px;
  }
  .video-section .video-text {
    font-size: 32px;
    line-height: 40px;
    z-index: 5;
  }
  .video-section .video-text-container {
    margin: 200px 24px 60px;
    z-index: 5;
  }
  .video-section .video-description {
    font-size: 16px;
  }
  .video-section video,
  .video-section .video,
  .video-section .video-section {
    height: 480px;
  }
  .join-section {
    height: 460px;
    width: 100%;
  }
  .join-section .join-gradient {
    height: 134px;
  }
  .join-section .join-img {
    width: 190px;
    min-height: 380px;
    background-size: cover;
    margin-top: 54px;
  }
  .join-section .join-img .join-h1 {
    font-size: 36px;
    text-align: center;
    width: 230px;
    position: relative;
    top: -20px;
    margin: 0;
  }
  .join-section .join-description {
    max-width: 210px;
    text-align: center;
    margin: 0;
    position: relative;
    top: -10px;
    z-index: 10;
    opacity: 0.8;
  }
  .footer {
    height: auto;
    border-bottom: 8px solid #e85500;
  }
  .footer .footer-btns-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin: 24px 0 32px;
  }
  .footer .footer-btns-container .download-footer:first-child {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
/*# sourceMappingURL=styles.css.map */